<!DOCTYPE html>
<html>
<head>
    <title>Snippet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <h1>Snippet content</h1>
    <div class="container">
        <div>
            <table>
                <tr>
                    <th>no</th>
                    <th>name</th>
                    <th>age</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Sam</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Dhoni</td>
                    <td>42</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>